body {
  font-family: Arial, Helvetica, sans-serif;
  background: #c9d6ff; /* fallback for old browsers */
  background-size:cover;
  background: -webkit-linear-gradient(
    #dfd8f8,
    #95acf5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    #dfd8f8,
    #95acf5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bigger {
  width: 70px !important;
}
/* Home page */
.logo {
  width: 400px;
  margin: 0;
}
/* status */
.inputs {
  width: 300px;
}
.prof-pic {
  width: 100px;
  margin: 0;
  margin-left: 40px;
  align-items: center;
}
.img-big {
  width: 200px !important;
}
.heading-1 {
  margin-top: 50px;
}
.friend-list {
  width: 390px;
  height: 320px;
  background: white;
  position: relative;
}
/* Center */
.child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.button-style {
  padding-top: 8px;
}
.agreement {
  font-size: large;
}
